@page
@using sharessss
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    ViewData["title"] = "san pham moi";
    ViewData["content"] = "noi dung san pham moi";
}

<form method="Post">
    <label for="">nhap ten</label>
    <input name="username" type="text"> 
    <input type="submit" value="gui">
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@await Html.PartialAsync("_Message")

@await Component.InvokeAsync("ProductBox", false)

@{
    var pr1 = new Product() { name = "Iphone 6", Description = "4gb ram", Price = 100000 };
    var pr2 = new Product() { name = "Iphone 7", Description = "4gb ram", Price = 100000 };
    var pr3 = new Product() { name = "Iphone X", Description = "4gb ram", Price = 100000 };
}

<div class="row">
    <div class="col-4">
        <Partial name="_ProductItem" model="pr1" />
    </div>

    <div class="col-4">@await Html.PartialAsync("_ProductItem", pr2)</div>

    <div class="col-4">@{
            await Html.RenderPartialAsync("_ProductItem", pr3);
        }</div>

</div>

<div class="row">
@{
    var products = new List<Product>()
        {
            new Product() {name="sp1", Description="des1",Price=1000},
            new Product() {name="sp2", Description="des2",Price=1000},
            new Product() {name="sp3", Description="des1",Price=1000},
            new Product() {name="sp4", Description="des1",Price=1000},
            new Product() {name="sp5", Description="des1",Price=1000},
            new Product() {name="sp6", Description="des1",Price=1000},
        };

    foreach(var item in products)
    {
        <div class="col-4 col-md-4">
            <partial name="_ProductItem" model=item/>

        </div>
    }
}
</div>


