@{
    var title = ViewData["title"]??"thong bao";
    var content = ViewData["content"] ?? "noi dung thong bao";
}

<div class="alert alert-danger">
    <strong>@title</strong> <br>
    @content
</div>