<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _68Layout</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_68Layout.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">MyWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-page="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Privacy">Chính Sách</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Post1">Post1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Post2">Post2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="bg-info">
            @RenderBody()
        </div>
        <footer class="bg-success">Footer
            @await RenderSectionAsync("noidungfooter", required:false);
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>